{:deps {:aliases [:dev]}
 :dev-http {3000 "resources/public"}
 :builds {:app
          {:target :browser
           :dev {:compiler-options
                 {:closure-defines {'goog.DEBUG true}}}
           :release {}
           :output-dir "resources/public/js"
           :asset-path "/js"
           :modules {:main {:entries [tetris.app]
                            :init-fn tetris.app/init}}
           :devtools {:preloads [devtools.preload]}}}}
